/* ======= DASHBOARD LAYOUT ======= */

.dashboard-container {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  color: #0a2a43;
  background-color: #f5f9ff; /* para destacar el contenido */
}

.dashboard-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* ======= FORM CARD ======= */

.card {
  background: #ffffffdd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  max-width: 100%;
}

/* ===== INPUTS ===== */

.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  max-width: 100%;
  box-sizing: border-box;
}

.form-grid input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #8bb0c7;
  background: #f8fbff;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

/* Inputs que deben ser más anchos ocupan dos columnas */
.form-grid input[name="description"],
.form-grid input[name="dimension"],
.form-grid input[name="format"],
.form-grid input[name="rating"] {
  grid-column: span 2;
}

.btn-primary {
  grid-column: span 4;
  padding: 10px;
  background: #0a3d62;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.2s;
}

.btn-primary:hover {
  background: #07415a;
}

/* ======= PRODUCT LIST ======= */

.table {
  width: 100%;
  background: #ffffffdd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.table-header, .table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  padding: 10px 0;
}

.table-header {
  font-weight: bold;
  border-bottom: 2px solid #b3c8d5;
}

.table-row {
  border-bottom: 1px solid #d7e1e7;
}

.table-row:last-child {
  border-bottom: none;
}

.buttons {
    display: flex;
    flex-wrap: nowrap; 
    gap: 5px; 
    align-items: center; 
}

.action-btn {
    /* Define un tamaño mínimo para que todos se vean uniformes */
    min-width: 80px; 
    padding: 8px 12px;
    margin-right: 5px; /* Espacio horizontal entre botones */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.2s ease; /* Transición suave al pasar el ratón */
}

.active {
  background-color: #4da3ff;
  color: white;
}

.notActive {
    background-color: #28a745;
  color: white;
}

.edit {
  background: #ffc107;
  color: white;
}

.edit:hover {
  background: #2e85df;
}

.delete {
  background: #ff5c5c;
  color: white;
}

.delete:hover {
  background: #d94a4a;
}

.error {
  color: #ff5c5c;
  font-size: 0.8rem;
  margin: 4px 0 10px 0;
}

@media (max-width: 640px) {
  .buttons {
    flex-wrap: wrap;
  }
  .table-row {
    justify-content: center; 
    width: 100%;
  }
  }
