.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}

.login-page,
.register-page {
    max-width: 500px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: uppercase;
}

.login-page h1,
.register-page h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #003366;
}

input[type="email"],
input[type="password"] {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #3399ff;
    box-shadow: 0 0 5px rgba(51, 153, 255, 0.5);
    outline: none;
}

.btn-login {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #3399ff;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

.btn-login:hover {
    background-color: #287bcc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.error {
    color: red;
    font-size: 0.9em;
}

textarea {
    resize: vertical;
    width: 460px;
    padding: 10px 20px;
    font-size: 1em;
}

/*** cambio los botones de login y register que los tenia pegados x un texto fuera del form y un link *******/

.register-link {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #333;
}

.register-link a {
    color: #3399ff;
    font-weight: 600;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.credentials {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #333;
    text-transform: lowercase;
}
