@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /*background-color: #f7f7f7;*/
  background-color: #607d8b;
  color: #0b3763;
  /*  line-height: 1.6;*/
  height: 100%;
}

/* Navbar */
/* NAVBAR GENERAL */
nav {
  background-color: #82bad5;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1000;
  position: relative; /* IMPORTANTE para el menú mobile */
}

/* LOGO */
nav .logo {
  margin-left: 0;
  font-size: 2rem;
  font-weight: 800;
  background: linear-gradient(90deg, #ff006e, #8338ec, #3a86ff);
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s ease;
}

nav .logo:hover {
  background-position: 100%;
}

/* LINKS DESKTOP */
nav .links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav .links a {
  color: #041014;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.3s ease;
}

nav .links a:hover {
  color: #fff;
  background-color: rgba(30, 144, 255, 0.25);
  border-radius: 10px;
}

/* CART */
.cart-icon {
  position: relative;
  display: inline-block;
}

/* USER INFO */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* HAMBURGER */
.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1500;
}

.burger span {
  width: 28px;
  height: 3px;
  background: #041014;
  transition: 0.3s;
  border-radius: 5px;
}

.burger.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* MOBILE MENU */
@media (max-width: 768px) {
  nav {
    padding: 0.6rem 1rem;
  }

  .logo {
    font-size: 1.8rem;
  }

  .burger {
    display: flex;
  }

  .links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background: #f1c1c1;
    padding: 25px 20px;
    gap: 1.6rem;
    display: none;
    opacity: 0;
    transform: translateY(-15px);
    transition: 0.3s ease;
    border-radius: 0 0 15px 15px;
  }

  .links.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .links a {
    font-size: 1.2rem;
    color: white;
    width: 100%;
    text-align: center;
    padding: 12px 0;
  }

  .links a:hover {
    background: rgba(255,255,255,0.1);
  }

  .user-info {
    width: 100%;
    justify-content: center;
  }

  .checkout {
    display: none;
  }
}



/* 10-10 btn logout para cerrar sesion */

.user-info-l {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  color: #041014;
  text-align: center;
  padding: 20px;
  margin-left: 10px;
  font-weight: bold;
}


.btn-logout {
  background: none;
  border: none;
  color: #041014;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: color 0.3s ease, transform 0.3s ease;
}

.btn-logout:hover {
  color: #fff;
  /*transform: scale(1.1);*/
  background-color: rgba(30, 144, 255, 0.2);
  border-radius: 10px;
  padding: 8px 12px;
}



.cart-count {
  position: absolute;
  /*top: -6px;
  right: -10px;*/
  background: red;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  line-height: 1;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.animar {
  animation: bounce 0.4s ease;
}


/* Footer */
footer {
  margin-top: 1rem;
  padding: 1.5rem;
  text-align: center;
  background-color: #82bad5;
  color: #041014;
  font-size: 0.9rem;
  border-top: 1px solid #0b3763;
}

footer p {
  font-size: 700;
  text-transform: uppercase;
}


footer p a {
  text-decoration: none;
  font-weight: bold;
}



/* Home page / product grid */
.home {
  padding: 2rem;
  padding-top: 0;
  width: 80%;
  margin: auto;
}

.home h1 {

  text-align: center;
  font-size: 2rem;
  padding: 1.25rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

/* Product Card */
.product-card {
  display: flex;
  flex-direction: column;
  background-color: #f1c1c1;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 100%;
}

/*** agrego esto para envolver todo el contenido de la tarjet menos lo botones */
.product-content {
  flex-grow: 1;
}

.product-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

.product-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.product-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.product-card a {
  text-decoration: none;
  color: #fff;
  background-color: #007BFF;
  font-weight: bold;
  margin: 1rem;

}

.product-card a:hover {
  background-color: #2E93FF;
}

.precio {
  color: #041014 !important;
  font-weight: bold !important;
  font-size: 1.2rem !important;
}


/* Product Detail */
.product-detail {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f1c1c1;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-detail img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.product-detail h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.info-header h2 {
  margin: 0;
  font-size: 2rem;
}

.product-detail p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.product-detail button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
  margin-bottom: 2rem;
}

.product-detail button:hover {
  background-color: #555;
}


.add-to-cart {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem 0.9rem;
  font-weight: bold;
  background-color: #28A745;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #32CD56;
}

/*modal*/

/* Fondo del modal (overlay) */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  /* Fondo oscuro para el overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  /* Asegura que el modal esté por encima del contenido */
}

/* Contenido del modal */
.modal-content {
  background-color: #A7AAE1;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  width: 80%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto;

}


.modal-image {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* Estilo del cuerpo del modal */
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body h2 {
  margin-top: 0;
  font-size: 24px;
}

.modal-body p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Botones */
.modal-body button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-body button:hover {
  background-color: #007BFF;
  color: white;
}

/* Estilo para el botón cerrar */
.modal-body button:first-of-type {
  background-color: #ccc;
}

.modal-body button:last-of-type {
  background-color: #28a745;
}


/* Artist Profile */
.artist-profile {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.artist-profile h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.artist-profile p {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #555;
}

.artist-profile .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.artist-profile .gallery img {
  width: 100%;
  border-radius: 10px;
}

/* Responsive Styles */


/* General breakpoints */
@media (max-width: 1024px) {
  .home {
    padding: 1.25rem;
  }

  .products-grid {
    gap: 1.25rem;
  }

  .product-card {
    padding: 0.9rem;
  }

  .product-card h3 {
    font-size: 1.05rem;
  }

  nav {
    padding: 0.8rem 1rem;
  }

}

@media (max-width: 768px) {


  nav .logo {
    margin-left: 20px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
  }

  nav .links {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  nav .links a {
    padding: 8px 10px;
    font-size: 0.95rem;
  }


  .products-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  /* Product card compact */
  .product-card {
    /*display: grid;
    grid-template-columns: 120px 1fr;*/
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: start;
  }

  .product-card img {
    width: 120px;
    height: 90px;
    object-fit: cover;
    margin-bottom: 0;
    border-radius: 6px;
  }

  .product-card h3 {
    font-size: 1rem;
  }

  .product-card p {
    font-size: 0.85rem;
    color: #666;
  }

  .product-card .view-more,
  .product-card .add-to-cart {
    font-size: 0.9rem;
    padding: 0.45rem 0.7rem;
  }


  .product-detail {
    padding: 1rem;
    margin: 1rem;
  }

  .product-detail img {
    max-height: 260px;
  }

  /* Modal */
  .modal-content {
    width: 95%;
    max-width: 680px;
    padding: 1rem;
  }

  .modal-image {
    max-height: 220px;
    object-fit: cover;
  }



  /* Artist profile gallery */
  .artist-profile .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

/* Buttons (reutilizables) */
.btn {
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  transition: all .12s ease;
}

.btn-secondary {
  background: #f0f0f0;
  color: #333;
}

.btn-primary {
  background: #1e90ff;
  color: white;
}

.btn-danger {
  background: #dc3545;
  color: white;
}

.btn-success {
  background: #28a745;
  color: white;
}

/* Modal actions area */
.modal-actions {
  display: flex;
  gap: 0.6rem;
  justify-content: flex-end;
  margin-top: 1rem;
  flex-wrap: wrap;
}

/* Small qty buttons */
.qty-controls {
  display: inline-flex;
  gap: 0.3rem;
  align-items: center;
}

.qty-controls button {
  padding: 0.25rem 0.6rem;
}

/*  slider para navegacion de tarjetas 02-10-2025 */

.products-slider {
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.products-slider .product-card {
  flex: 0 0 calc(20% - 1rem);
  min-width: 200px;
}

.slider-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.slider-controls button {
  padding: 0.5rem 1rem;
  border: none;
  background: #1e90ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.slider-controls button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* agrego la libreria para rating */

.rating {
  /*color: #28a745;*/
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.rating span {
  font-size: 1.2rem;
  color: #555;
}


@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    align-items: center;
  }

  .product-info {
    width: 100%;
  }
}